@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Protest+Riot&family=Space+Grotesk:wght@500&family=Roboto:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
   
font-family: 'Roboto', sans-serif, Protest-Riot;
font-weight:500;
  }

 .h1 {
    font-family: 'Protest Riot', cursive;
    font-weight: normal;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 80px; /* Example height */
  }
  
  .main {
    padding-top: 80px; /* Same as header height */
  }
  